.konten {
  width: 500px;
  height: 320px;
  margin: 150px auto;
  padding: 30px 50px;
  box-shadow: 0 1px 6px 1px #333;
}

.konten div {
  font-size: 21px;
  color: #333;
}

.konten h1 {
  color: #333;
  text-align: center;
}

.konten a {
  color: red;
}

.sub {
  display: flex;
}

#lupa {
  line-height: 40px;
  order: 1;
  margin-left: auto;
}

input[type=checkbox] {
  display: inline !important;
  width: 15px !important;
  height: 15px !important;
}

.konten input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 23px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 15px 0;
}