* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* start */

.header {
  background-color: #24292e;
  display: flex;
  height: 80px;
  align-items: center;
}

.logo {
  margin-left: 7%;
  font-size: 30px;
  line-height: 80px;
  color: #fff;
  font-weight: bold;
}


.menu {
  margin-right: 7%;
  display: flex;
  line-height: 80px;
  font-size: 25px;
}

.menu-item {
  margin-left: 35px;
}

.search {
  flex-grow: 1;
  line-height: 80px;
  margin-left: 20px;
}

.search a {
  font-size: 23px;
  border: none;
  position: absolute;
  left: 920px;
  color: #333;
}

#search-bar {
  width: 500px;
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 10px;
}

.kategori {
  font-size: 18px;
  margin-left: 20px;
  line-height: 80px;
}

/* dropdown */

.inbox-dropdown {
  background-color: #24292e;
  width: 230px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 1470px;
  display: none;
}

.inbox-dropdown a {
  display: block;
  font-size: 22px;
  text-align: center;
  padding: 5px 0;
}

#btn-inbox:hover .inbox-dropdown {
  display: block;
}