.main-konten,
.header-konten {
  width: 70%;
  margin: 50px auto;
}

.header-konten img {
  width: 100%;
  height: 500px;
}

.header-section {
  display: flex;
  align-items: center;
}

.main-section {
  margin-top: 100px;
}

#btn {
  font-size: 20px;
  color: #333;
  border: 1px solid #333;
  padding: 10px;
  margin-left: auto;
  order: 1;
  transition: .3s;
}

#btn:hover {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  background-color: #333;
}

.konten-section {
  width: 100%;
  display: flex;

}

.card {
  width: 23%;
  margin: 20px 2%;
  /* border: 1px solid black; */
  box-shadow: 0 0 6px black;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
}

.desc-card {
  padding-left: 10px;
}

.fa-star {
  color: gold;
}

.judul-card {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.harga-card {
  font-size: 17px;
  color: green;
  font-weight: bold;
  padding-bottom: 5px;

}